<div id="body">
    <div class="box">
        <div class="divbox">
            <div id="divdugmici">
                <button id="dugmeP" routerLink="/prijava">Prijava</button>
                <button id="dugmeR">Registracija</button>
                <hr id="linijaD"><hr id="linijaT">
            </div>

            <div id="podaci">Korisnicko ime:</div>
            <input id="korisnickoIme" type="text" name="" >
            
            <div id="podaci">E-mail:</div> 
            <input id="email" type="text" name="" >
            
            <div id="podaci">Ime i prezime:</div> 
            <input id="ime" type="text" name="" >
            
            <div id="podaci">Lozinka:</div>
            <input id="sifra" type="password" name="">
            
            <div id="podaci">Broj telefona:</div>
            <input id="sifra2" type="text" name="">
            
            <div id="submitDugme">
                <button id="button" (click)="registracija()">Registruj se</button> 
            </div>
        </div>  
    </div>
</div>
