<div id="body">
    <div class="box">
        <div class="divbox">
            <div id="divdugmici">
                <button id="dugmeP" routerLink="/prijava">Prijava</button>
                <button id="dugmeR">Registracija</button>
                <hr id="linijaD"><hr id="linijaT">
            </div>
            <div id="podaci">Korisnicko ime:</div>
            <input type="text" name="">
            <div id="podaci">E-mail:</div>
            <input type="text" name="">
            <div id="podaci">Ime i prezime:</div>
            <input type="text" name="">
            <div id="podaci">Lozinka:</div>
            <input type="text" name="">
            <div id="podaci">Broj telefona:</div>
            <input type="text" name="">
            <div id="submitDugme">
                <button id="button" type="submit">Registruj se</button>
            </div>
        </div>
    </div>
</div>
