body
{
    background-image: url("/assets/pozadina.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*        SCROLL BAR            */ 
body::-webkit-scrollbar {
    width: 12px;
    height: 12px;

    /*margin-right: 10px;*/
  }
  
body::-webkit-scrollbar-corner{
    background-color: #27274100;
}

  /* Track */
body::-webkit-scrollbar-track {

    background-image: linear-gradient( #0d0b2a,#1a1e4e,#1a1e4e,#21235e,#1a1e4e,#272c5f,#353365,#564684,#564684);
  }
   
  /* Handle */
body::-webkit-scrollbar-thumb {
    background: #435079;
    border-radius: 10px;
  }

body::-webkit-scrollbar-thumb:hover {
    background: #4d5779;
  }

/* -----------------------SLIDER---------------------- */

  .ngx-slider .ngx-slider-bar {
    background: rgb(114, 81, 131) !important;
    height: 10px !important;
    border-radius: 10px !important;
    position: relative;
    top: 9px;
    border: 2px solid rgb(84, 53, 100);
  }

  .ngx-slider .ngx-slider-pointer {
    width: 25px !important;
    height: 25px !important;
    background-color: rgb(173, 128, 195) !important;
    border: 2px solid rgb(84, 53, 100);
  }

  .ngx-slider .ngx-slider-pointer:after {
    display: none !important; 
  }

  .ngx-slider .ngx-slider-bubble {
    color: #c1cdff !important;
  }

  .ngx-slider-span .ngx-slider-bubble .ngx-slider-limit .ngx-slider-floor {
    font-weight: bold;
    bottom: 20px !important;
  }

  /* .ngx-slider .ngx-slider-bubble.ngx-slider-limit
  {
      color: green !important;
  } */
