<div id="body1">


    <div class="row align-items-center justify-content-between p-3">

        <div class="col-md-2 p-0">
        <input type="file" class="file-input" accept=".csv, .json, .xlsx, .xls, .xlsm, .xlsb, .odf, .ods, .odt" (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload okvir2">

            <button mat-mini-fab color="primary" id="ucitaj1" class="upload-btn" (click)="fileUpload.click()">
                Učitaj podatke
            </button>
            <div id="okvir1">
            <span style="color:white; margin-left: 10px; text-align: center;">
                {{fileName || "Podaci nisu učitani."}}
                <span id="poruka" class="nonvisible-y" ><img src="assets/checkmarkyes.png"></span>
                <span id="porukaGreske" class="nonvisible-n" ><img src="assets/markno.png"></span>
            </span>
            </div>
        </div>
        </div>

        <div class="col-md-9 okvir">

        <div class="d-flex align-items-center justify-content-between" id="desnielement">
            <!--<div id="naziveksperimenta">Naziv Eksperimenta</div>-->
            <div class="col-md-10 d-flex justify-content-left align-items-center">
                <div id="tekstSnapshot">Upravljanje verzijama<br>skupa podataka</div>
                <div class="space">
                    <select id="verzijaSnapshotaSelect" >
                        <option value="0">Default snapshot</option>
                        <option *ngFor="let i of snapshots;" value={{i.id}}>{{i.ime}}</option>
                        <!---<option>Snapshot 1</option>
                        <option>Snapshot 2</option>
                        <option value="{{i.id}}">{{i.ime}}</option>
                        <option>Snapshot 3</option>-->
                    </select>
                </div>
                <div class="space">
                    <!-- <button id="deleteSnap"><span class='text'><i style="font-size:24px" class="fa">&#xf014;</i></span></button> -->
                    <button id="deleteSnap" (click)="izbrisiSnapshot()" ><span class='text'><i style="font-size:20px" class="fas fa-trash-alt"></i></span></button>
                </div>
                <div class="space">
                    <button id="sacuvaj" (click)="sacuvajTrenutnuVerziju();">Sačuvaj verziju</button>
                </div>
                <div class="space">
                    <button id="sacuvajKao" data-bs-toggle="modal" data-bs-target="#ModalSaveAs">Sačuvaj verziju kao</button>
                </div>
            </div>
            <div>
                <button id="sacuvajizmene" (click)="submit()">Sačuvaj izmene</button> 
            </div>
        </div>
        
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-between p-1 pb-3">
        <div class="col-md-9 ">
            <div class="okvir d-flex justify-content-left ">
                
                <div id="brojRedovaTabelePoruka">
                    <div id="odabir-redova">Broj redova za prikaz:</div>
                    <span>
                        <select id="brojRedovaTabele" (change)="promeniBrojRedova(selectField.value);" #selectField>
                            <option value="5">5</option>
                            <option selected value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </span>
                </div>
                <div style="width: 100%;" class="d-flex align-items-center">
                    <button id="sve-kolone" (click)="selectAllColumns($event)">Selektuj sve kolone</button>
                    <!-- <button id="izbaci-selekt-kolone" (click)="deleteColumns()">Izbaci selektovane kolone</button> -->
                    <button id="svi-redovi" (click)="selectAllRows($event)">Selektuj sve redove</button>
                    <!-- <button id="izbaci-selekt-vrste" (click)="deleteRows()">Izbaci selektovane redove</button> -->
                    <button id="izbaci-selekt-vrste" (click)="dodavanjeNovogReda()">New</button>
                    <button id="izbaci-selekt-vrste" (click)="brisanjeVrednosti()">Delete</button>
                <!--  <button id="clear-tracker" (click)="obrisiIstoriju()">Obrisi istoriju</button>-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="okvir visinaIstorije row m-0 p-2">

           
               <!-- <div class="col-sm-7"> <button id="dugmeIstorija" type="button" class="btn btn-secondary" style=" border-radius: 10px; background-color: #6070a7; box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);">Pogledaj istoriju</button> </div> -->
               <div class="col-sm-7 justify-content-center">
                    <!-- Button trigger modal -->
                    <button type="button" id="dugmeIstorija" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" style=" border-radius: 10px; background-color: #6070a7; box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);">
                        Pogledaj istoriju
                    </button>
               </div>
                <div class="col-sm-5 d-flex justify-content-center">        
                    <button id="undoRedoDugme"><i (click)="tryUndoAction()" class="fa fa-undo mt-1" style="font-size:22px;color:#CED9FF;"></i></button>  
                    <button id="undoRedoDugme"><i (click)="tryRedoAction()" class='fa fa-redo mt-1' style="font-size:22px;color:#CED9FF;"></i></button> 
                </div>   
            </div>
        </div>
    </div>
    <!--
    <div class="row d-flex align-items-center justify-content-between p-1 pt-4" >
        <div class="col-md-9">
            <div class="okvir visinaPodesavanja">
                <div class="naslov">Vizuelizacija podataka</div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="okvir visinaPodesavanja">
                
            </div>
        </div>
    </div>-->


    <!-- <div id="box">
        <div id="testniskup" class="p1 placement">
            <div id="naslov">Testni skup</div>

            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-design" id="dropdownBasic1" ngbDropdownToggle>Izaberi</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem id="proizvoljanUnosVrednosti" (click)="izborUnosa('Proizvoljno')">Unos željenih vrednosti</button>
                  <button ngbDropdownItem id="ucitajTestniSkup" (click)="izborUnosa('Testni skup')">Učitaj testni skup</button>
                </div>
            </div>

            <div id="testniskup-comp">

                <div id="unos-fajla" class="invisible-testniskup"> 
                    <form id="forma-test">
                        <div class="form-group">       
                            <label id="label-input" for="exampleFormControlFile1">
                                <img src="assets/uploadfile.png"> 
                                &nbsp; Ucitaj podatke</label>                 
                            <input type="file" class="form-control-file" accept=".csv" id="exampleFormControlFile1" (change)="onFileSelectedTest($event)">
                            <span style="color:white;  text-align: center; font-size: 14px;">{{fileNameTest || "Podaci nisu učitani."}} </span>
                        </div>
                      </form>
                </div>


                <div id="proizvoljan-unos" class="visible-unos">
                    <div id="slider">
                        <div style="margin: auto; color: #c1cdff; position: relative; top: -30px;">Uneti vrednost iz intervala [0,1]</div>
                        <div id="current-value">50%</div>
                        
                        <input type="range" min="0" max="1" step="0.01" value="0.5" (change)="ispisRatio()" id="input-ratio">
                    </div>
                    <br><br>
                    <div id="div-ratio">
                        <input type="number" min="0" max="1" step="0.01" id="vrednost-ratio" placeholder="0.5" (change)="upisRatio()">  
                        <button id="btn-ratio" (click)="setRatio()">Primeni</button>
                    </div>   
                </div>
            </div>
        </div>
        <div id="nedostajucevrednosti" class="placement">
            <div id="header-help">
                <div id="naslov">Nedostajuće vrednosti</div>
                <div id="helper"> 
                    <span  class="hovertext" data-tooltip="Zamena praznih stringova sa NA:
                          - Za odabrane kategorije (kolone)
                          Zamena 0 sa NA:
                          - Za odabrane kolone sa numerickim vrednostima">
                    &#63;
                    </span>
                </div>
            </div>
            <div id="select-elements">

                <div ngbDropdown class="dropdown" id="zamena-select">
                    <button ngbDropdownToggle class="btn btn-design2 dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                      Zamena NA vrendosti
                    </button>
                    <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li ngbDropdownItem><a role="button" class="dropdown-item" (click)="fillWithMean()">Zameni NA sa mean u koloni</a></li>
                        <li ngbDropdownItem><a role="button" class="dropdown-item" (click)="fillWithMedian()">Zameni NA sa median u koloni</a> </li>
                        <li ngbDropdownItem><a role="button" class="dropdown-item" (click)="fillWithMode()">Zameni NA sa mode u koloni</a> </li>
                        <div class="dropdown-divider"></div>
                        <li ngbDropdown>
                            <a class="dropdown-item" id="sub-menu1">
                               Linearna regresija  &nbsp; &nbsp;&nbsp;  &#10148;
                            </a>
                            <ul ngbDropdownMenu class="dropdown-menu dropdown-submenu">
                                <div *ngFor="let fieldValue of dajNaziveHeadera(); let i = index" >
                                <li ngbDropdownItem> <a role="button" class="dropdown-item" (click)="selectForRegression($event,i)">{{fieldValue}}</a></li>   
                                </div>                      
                            </ul>
                        </li>
                    </ul>
                </div>
               

                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-design2" id="dropdownBasic3" ngbDropdownToggle>Brisanje NA vrednosti</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic3" id="menu1">
                      <button ngbDropdownItem (click)="deleteAllRowsWithNA()">Izbaci sve vrste sa NA vrednostima</button>
                      <button ngbDropdownItem (click)="deleteAllColumnsWithNA()">Izbaci sve kolone sa NA vrednostima</button>
                      <button ngbDropdownItem (click)="deleteRowsWithNAforSelectedColumns()">Izbaci sve vrste sa NA za izabrane kolone</button>
                    </div>
                </div>

            </div>

            <div id="opcije-nv">
                <div id="prazni-string">
                   <div>Zamena praznih stringova sa NA:</div>
                   <button id="b1" (click)="replaceEmptyWithNA()">Primeni</button> 
               </div>
            
                <div id="zamena-nula">
                        <div>Zamena 0 sa NA:</div>
                        <button id="b2" (click)="replaceZeroWithNA()">Primeni</button> 
                </div>
            </div>
            <div id="regresija-nv">
                <input type="text" id="regresija-input" placeholder="Regresija:" readonly>
                <button id="btn-reg" (click)="primeniZaRegression()">Primeni</button> 
            </div>

           
            
        </div>
        <div id="enkodiranje" class="p2 placement">
            <div id="naslov">Enkodiranje</div>
            <button id="b4" (click)="labelEncoding()">LabelEncode</button> 
            <button id="b5" (click)="oneHotEncoding()">One-hotEncode</button> 
        </div>
    </div>

    <div id="box2">
    
        <div id="normalizacija">
            <div id="header-help">
                <div id="naslov">Normalizacija</div>
                <div id="helper"> 
                    <span  class="hovertext-left" data-tooltip="- Odabrati željeni tip normalizacije
                        - Selektovati željene kolone 
                        - Primenite podešene vrednosti ">
                    &#63;
                    </span>
                </div>
            </div>

            <div id="norm-box">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-design3" id="norm-btn" ngbDropdownToggle>Izaberite tip normalizacije</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem id="absolute-max" (click)="selectNorm($event)">Absolute Maximum Scaling</button>
                      <button ngbDropdownItem id="minmax" (click)="selectNorm($event)">Min-Max Scaling</button> 
                      <button ngbDropdownItem id="zscore" (click)="selectNorm($event)">Z-score Scaling</button>
                    </div>
                </div>
                <button type="button" class="btn btn-primary primeni-izuzeci" (click)="primeniNormalizaciju()">Primeni</button>
            </div>
        </div>
    
        <div id="polje">
            <div id="header-help">
                <div id="naslov">Podaci</div>
                <div id="helper"> 
                    <span  class="hovertext-left" data-tooltip="Funkcije za upravljanje
                                  podacima tabele">
                    &#63;
                    </span>
                </div>
            </div>

            <div id="podaci-box">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-design2" id="select-data" ngbDropdownToggle>Upravljanje podacima</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic3" id="menu1">
                        <button ngbDropdownItem (click)="selectData($event)" id="izbaci-selekt-vrste">Izbaci selektovane vrste</button>
                        <button ngbDropdownItem (click)="selectData($event)" id="izbaci-selekt-kolone">Izbaci selektovane kolone</button>
                    </div>
                </div>

                <button type="button" class="btn btn-primary primeni-izuzeci" id="btn-data" (click)="primeniNaPodatke()">Primeni</button>
            </div>

        </div>

        <div id="outliers">
            <div id="header-help">
                <div id="naslov">Netipične vrednosti</div>
                <div id="helper"> 
                    <span class="hovertext" data-tooltip="Uobičajene vrednosti praga:

                        Standard Deviation: 2
                        Quantiles: ( 0.1, 0.25 )
                        Z-score: ( -3, +3 ) 
                        ">
                        &#63;
                      </span>
                </div>
            </div>

            <div id="outliers-box">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-design4" id="outlier-btn" ngbDropdownToggle>Izbacivanje izuzetaka</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem id="option-sd" (click)="selectOutliers($event)">Standard Deviation</button>
                      <button ngbDropdownItem id="option-quantiles" (click)="selectOutliers($event)">Quantiles</button> 
                      <button ngbDropdownItem id="option-zscore" (click)="selectOutliers($event)">Z-Score</button>
                      <button ngbDropdownItem id="option-iqr" (click)="selectOutliers($event)">IQR</button>
                      <button ngbDropdownItem id="option-isolation" (click)="selectOutliers($event)">Isolation Forest</button>
                      <button ngbDropdownItem id="option-svm" (click)="selectOutliers($event)">One Class SVM</button>
                      <button ngbDropdownItem id="option-lfactor" (click)="selectOutliers($event)">Local Factor</button>
                    </div>
                </div>

                <input type="number" id="threshold" placeholder="Prag:" readonly>

                <button type="button" class="btn btn-primary primeni-izuzeci" (click)="removeOutliers()">Primeni</button>
            </div>
        </div>
    </div> -->

    <div class="row d-flex align-items-center justify-content-between p-1" id="tabela-podesavanja">
        <div page class="col-md-9">
            <div class="okvir" id="table">
                <div class="naslov">
                        <span id="ucitaniPodaci-naslov" style=" background-color: #5e6091; border-radius: 5px;" (click)="prikaziUcitanePodatke($event)">Učitani podaci</span> &nbsp; &nbsp; &nbsp; <span id="statPodaci-naslov" (click)="prikaziStatistickePodatke($event)"> Statistički podaci </span>     
                          <span style="position: absolute; left:62%; "><button  id="dugmecsv" (click)="preuzmiDataset()" >Preuzmi podatke</button></span>
                </div>
                <div id="skrol" class="col-md-12">
                    <table *ngIf="this.indikator; else statistika">
                        <tr class="head-table">
                            <th *ngFor="let header of dajHeadere();  let j = index" class="tr-button" (click)="getData(j, header)" [class.selectedColHeader]="isSelectedNum(j)">
                                {{header}}
                            </th>
                        </tr>
                        <tr class="trbody" *ngFor="let red of json | paginate
                        : {
                            itemsPerPage: itemsPerPage,
                            currentPage: page,
                            totalItems: totalItems
                        };  index as i" (click)="getRow(i,this.page)">
                            <td *ngFor="let fieldValue of dajRed(i); let j = index" [class.selectedCol]="isSelectedNum(j)" [class.selectedRow]="isSelectedRow(i)">
                                <input type="text" value="{{fieldValue}}" id="input-data" (change)="izmeniPolje(i,j,this.page,$event.target)">
                            </td>
                        </tr>
                    </table>

                    <ng-template #statistika>
                     
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                           
                            <div class="statistika-tip">
                                <button class="accordion-button collapsed btn-coll" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNum" aria-expanded="false" aria-controls="collapseNum">
                                    <span style=" position:sticky; left:25px; display: inline-block;">Statistika numeričkih veličina</span>
                                </button>
                                <div class="collapse" id="collapseNum">
                                    <table id="numericka-tabela">
                                        <tr class="head-table">
                                            <th style="width:200px" *ngFor="let naslov of dajNaziveKolonaStatistikeNum();">
                                                {{naslov}}
                                            </th>
                                        </tr>
                                        <tr class="trbodyy" *ngFor="let red of this.nizRedovaStatistika">
                                            <td style="width:200px" class="td-tabela-stat" *ngFor="let fieldValue of red;"  >
                                                {{fieldValue}}
                                            </td>
                                        </tr>
                                        
                                    </table>
                                </div>
                            </div>

                            <div class="statistika-tip">
                                <button class="accordion-button collapsed btn-coll" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCat" aria-expanded="false" aria-controls="collapseCat">
                                    <span style=" position:sticky; left:25px; display: inline-block;">Statistika kategoričkih veličina</span>
                                </button>
                                <div class="collapse" id="collapseCat">

                                    <div *ngFor="let element of statistikaCat; index as i" style="display: flex; margin-left: 40px;">
                                  
                                        <span style="border-bottom-right-radius:30px; height: 200px; width:100px; margin-top: 10px; background-color: #60324d; color: #a7baff; font-weight: bolder;">{{element.key}}</span>
                                        <div *ngFor="let item of element.data" style=" margin: 10px 0px;">
                                            <div class="uvuceno">
                                                <div class="item" *ngIf="item.imeKljucVC">
                                                  {{item.imeKljucVC}}: {{item.ValidCount}}
                                                </div>
                                            <div class="item" *ngIf="item.imeKljucNC">
                                              {{item.imeKljucNC}}: {{item.NaCount}}
                                            </div>
                                            <div class="item" *ngIf="item.imeKljucUC">
                                              {{item.imeKljucUC}}: {{item.UniqueCount}}
                                             </div>
                                            <div *ngIf="item.Frequencies">
                                                <div *ngFor="let freq of item.Frequencies; index as i">
                                                    <div *ngIf="i==0">
                                                        Most Common: &nbsp; <br> <div class="uvuceno">{{item.Frequencies[i][0]}}: &nbsp; {{item.Frequencies[i][1]}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="item.imeKljucF">
                                                {{item.imeKljucF}}:
                                                <div class="uvucenoBezMB" *ngFor="let freq of item.Frequencies">
                                                    <div>{{freq[0]}}: &nbsp; {{freq[1]}} </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div style="width: 10%; height: 10%; " *ngIf="pieplot"><img [src]="pieplot" class="img-fluid " alt="Responsive image"></div> -->
                                    </div>
                                    <hr>
                                    </div>
                                </div>
                            </div>
                            
                            
                          </div>
                </ng-template>

                </div>
            </div>

            <ngb-pagination class="d-flex justify-content-center" *ngIf="this.json != undefined" (pageChange)="gty(page = $event)" [collectionSize]="this.totalItems" [(page)]="this.page" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
      
        </div>

        <div class="col-md-3 justify-content-center align-items-center">
            <div class="p-2 okvir visinaPodesavanja" id="manipulacijaPodacima" style="overflow-y: auto">
                <div class="naslov"><div class="tekstNaslova">Manipulacija podacima i unos testnog skupa</div></div>
                <div class="podesavanja">
                    <div class="podesavanje">
                        <button class="accordion-button collapsed dugmeCollapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTestniSkup" aria-expanded="false" aria-controls="collapseTestniSkup">
                            Unos testnog skupa
                        </button>
                        <div class="collapse" id="collapseTestniSkup">
                            <div id="header-help">
                                <div id="helper"> 
                                    <span  class="hovertext" data-tooltip=" Metoda 'Odabir željene vrednosti':
                                        - Pomeriti slider za odabir udela testnog skupa
                                         ili uneti željenu vrednost preko input polja
                                        - Primenite podešene vrednosti">
                                    &#63;
                                    </span>
                                </div>
                            </div>
                            <div ngbDropdown class="d-inline-block" style="width: 100%;">
                                <div class="pom">
                                    <button class="btn btn-design2 dugme" id="dropdownBasic1" ngbDropdownToggle>Izaberi metodu unosa</button>
                                </div>
                                <div ngbDropdownMenu class="menu1" aria-labelledby="dropdownBasic1">
                                  <button ngbDropdownItem id="proizvoljanUnosVrednosti" (click)="izborUnosa('Proizvoljno')">Odabir željene vrednosti</button>
                                  <button ngbDropdownItem id="ucitajTestniSkup" (click)="izborUnosa('Testni skup')">Učitaj testni skup</button>
                                </div>
                            </div>
                
                            <div id="testniskup-comp">
                
                                <div id="unos-fajla" class="invisible-testniskup"> 
                                    <form id="forma-test">
                                        <div class="form-group">       
                                            <label id="label-input" for="exampleFormControlFile1">
                                                <img src="assets/uploadfile.png"> 
                                                &nbsp; Učitaj podatke</label>                 
                                            <input type="file" class="form-control-file" accept=".csv" id="exampleFormControlFile1" (change)="onFileSelectedTest($event)">
                                            <span style="color: rgb(216, 221, 251);  text-align: center; font-size: 14px;">{{fileNameTest || "Podaci nisu učitani."}} </span>
                                        </div>
                                      </form>
                                </div>
                
                
                                <div id="proizvoljan-unos" class="visible-unos">
                                    <div id="slider">
                                        <div style="margin: auto; color: #c1cdff; position: relative; top: -20px;">Uneti vrednost iz intervala [0,1]</div>
                                        <div id="current-value">50%</div>
                                        
                                        <input type="range" min="0" max="1" step="0.01" value="0.5" (change)="ispisRatio()" id="input-ratio">
                                    </div>
                                    <br><br>
                                    <div id="div-ratio">
                                        <input type="number" min="0" max="1" step="0.01" id="vrednost-ratio" placeholder="0.5" (change)="upisRatio()">  
                                        <button class="btn btn-primary" id="btn-ratio" (click)="setRatio()">Primeni</button>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="podesavanje">
                        <button class="accordion-button collapsed dugmeCollapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEnkodiranje" aria-expanded="false" aria-controls="collapseEnkodiranje">
                            Enkodiranje
                        </button>
                        <div class="collapse" id="collapseEnkodiranje">
                            <div id="header-help">
                                <div id="helper"> 
                                    <span  class="hovertext" data-tooltip="- Selektovati željene kategorijske kolone 
                                        - Kliknuti na željeni tip enkodiranja">
                                    &#63;
                                    </span>
                                </div>
                            </div>
                            <div id="enkodiranjeHolder">
                                <button class="btn btn-primary" id="b4" (click)="labelEncoding()">LabelEncode</button> 
                                <button class="btn btn-primary" id="b5" (click)="oneHotEncoding()">One-hotEncode</button> 
                            </div>
                        </div>
                    </div>
                    <div class="podesavanje">
                        <button class="accordion-button collapsed dugmeCollapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOutlieri" aria-expanded="false" aria-controls="collapseOutlieri">
                            Netipične vrednosti
                        </button>
                        <div class="collapse" id="collapseOutlieri">
                            <div id="header-help">
                                <div id="helper"> 
                                    <span class="hovertext" data-tooltip="Uobičajene vrednosti praga:
                
                                        Standard Deviation: 2
                                        Quantiles: ( 0.1, 0.25 )
                                        Z-score: ( -3, +3 ) 
                                        ">
                                        &#63;
                                      </span>
                                </div>
                            </div>
                            <div id="outliers-box">
                                <div ngbDropdown class="d-inline-block" style="width: 100%;">
                                    <div class="pom">
                                        <button class="btn btn-design2 dugme" id="outlier-btn" ngbDropdownToggle>Izbacivanje izuzetaka</button>
                                    </div>
                                    <div ngbDropdownMenu class="menu1" aria-labelledby="dropdownBasic1">
                                      <button ngbDropdownItem id="option-sd" (click)="selectOutliers($event)">Standard Deviation</button>
                                      <button ngbDropdownItem id="option-quantiles" (click)="selectOutliers($event)">Quantiles</button> 
                                      <button ngbDropdownItem id="option-zscore" (click)="selectOutliers($event)">Z-Score</button>
                                      <button ngbDropdownItem id="option-iqr" (click)="selectOutliers($event)">IQR</button>
                                      <button ngbDropdownItem id="option-isolation" (click)="selectOutliers($event)">Isolation Forest</button>
                                      <button ngbDropdownItem id="option-svm" (click)="selectOutliers($event)">One Class SVM</button>
                                      <button ngbDropdownItem id="option-lfactor" (click)="selectOutliers($event)">Local Factor</button>
                                    </div>
                                </div><br>
                                <input type="number" id="threshold" placeholder="Prag:" readonly><br>
                
                                <button type="button" class="btn btn-primary primeni-izuzeci" (click)="removeOutliers()">Primeni</button>
                            </div>
                        </div>
                    </div>
                    <div class="podesavanje">
                        <button class="accordion-button collapsed dugmeCollapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNormalizacija" aria-expanded="false" aria-controls="collapseNormalizacija">
                            Normalizacija
                        </button>
                        <div class="collapse" id="collapseNormalizacija">
                            <div id="header-help">
                                <div id="helper"> 
                                    <span  class="hovertext" data-tooltip="- Odabrati željeni tip normalizacije
                                        - Selektovati željene kolone 
                                        - Primenite podešene vrednosti ">
                                    &#63;
                                    </span>
                                </div>
                            </div>
                            <div id="norm-box">
                                <div ngbDropdown class="d-inline-block" style="width: 100%;">
                                    <div class="pom">
                                        <button class="btn btn-design2 dugme" id="norm-btn" ngbDropdownToggle>Izaberite tip normalizacije</button>
                                    </div>
                                    <div ngbDropdownMenu class="menu1" aria-labelledby="dropdownBasic1">
                                      <button ngbDropdownItem id="absolute-max" (click)="selectNorm($event)">Absolute Maximum Scaling</button>
                                      <button ngbDropdownItem id="minmax" (click)="selectNorm($event)">Min-Max Scaling</button> 
                                      <button ngbDropdownItem id="zscore" (click)="selectNorm($event)">Z-score Scaling</button>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-primary primeni-izuzeci" (click)="primeniNormalizaciju()">Primeni</button>
                            </div>
                        </div>
                    </div>
                    <div class="podesavanje">
                        <button class="accordion-button collapsed dugmeCollapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNedVr" aria-expanded="false" aria-controls="collapseNedVr">
                            Nedostajuće vrednosti
                        </button>
                        <div class="collapse" id="collapseNedVr">
                            <div id="header-help">
                                <div id="helper"> 
                                    <span  class="hovertext" data-tooltip="Zamena praznih stringova sa NA:
                                          - Za odabrane kategorije (kolone)
                                          Zamena 0 sa NA:
                                          - Za odabrane kolone sa numerickim
                                          vrednostima">
                                    &#63;
                                    </span>
                                </div>
                            </div>
                            <div id="select-elements">
                                <div id="pomocniDiv">
                                    <div id="opcije-nv">
                                        <div id="prazni-string">
                                           <div class="imeAkcije">Zamena praznih stringova sa NA:</div>
                                           <button class="btn btn-primary" id="b1" (click)="replaceEmptyWithNA()">Primeni</button> 
                                       </div>
                                    
                                        <div id="zamena-nula">
                                            <div class="imeAkcije">Zamena 0 sa NA:</div>
                                            <button class="btn btn-primary" id="b2" (click)="replaceZeroWithNA()">Primeni</button> 
                                        </div>
                                    </div>
                                    <div ngbDropdown class="d-inline-block">
                                        <button class="btn btn-design2 dugme" id="dropdownBasic3" ngbDropdownToggle>Brisanje NA vrednosti</button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="menu1">
                                          <button ngbDropdownItem (click)="deleteAllRowsWithNA()">Izbaci sve vrste sa NA vrednostima</button>
                                          <button ngbDropdownItem (click)="deleteAllColumnsWithNA()">Izbaci sve kolone sa NA vrednostima</button>
                                          <button ngbDropdownItem (click)="deleteRowsWithNAforSelectedColumns()">Izbaci sve vrste sa NA za izabrane kolone</button>
                                        </div>
                                    </div>
                                <div class="okvirZaNA">
                                <div ngbDropdown class="dropdown" class="zamena-select">
                                    <button ngbDropdownToggle class="btn btn-design2 dropdown-toggle dugme" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                                      Zamena NA vrendosti
                                    </button>
                                    <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li ngbDropdownItem><a role="button" class="dropdown-item" (click)="fillWithMean()">Zameni NA sa mean u koloni</a></li>
                                        <li ngbDropdownItem><a role="button" class="dropdown-item" (click)="fillWithMedian()">Zameni NA sa median u koloni</a> </li>
                                        <li ngbDropdownItem><a role="button" class="dropdown-item" (click)="fillWithMode()">Zameni NA sa mode u koloni</a> </li>
                                        <!-- <div class="dropdown-divider"></div> -->
                                        <!-- <li ngbDropdown>
                                            <a class="dropdown-item" id="sub-menu1">
                                               Linearna regresija  &nbsp; &nbsp;&nbsp;  &#10148;
                                            </a>
                                            <ul ngbDropdownMenu class="dropdown-menu dropdown-submenu">
                                                <div *ngFor="let fieldValue of dajNaziveHeadera(); let i = index" >
                                                <li ngbDropdownItem> <a role="button" class="dropdown-item" (click)="selectForRegression($event,i)">{{fieldValue}}</a></li>   
                                                </div>                      
                                            </ul>
                                        </li> -->
                                    </ul>
                                </div>
                                <div ngbDropdown class="dropdown" class="zamena-select">
                                    <button ngbDropdownToggle class="btn btn-design2 dugme" type="button" id="dropdownLinReg">
                                        Linearna regresija
                                    </button>
                                    <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownLinReg">
                                        <div *ngFor="let fieldValue of dajNaziveHeadera(); let i = index" >
                                        <li ngbDropdownItem> <a role="button" class="dropdown-item" (click)="selectForRegression($event,i)">{{fieldValue}}</a></li>   
                                        </div>                      
                                    </ul>
                                </div>
                                <div id="regresija-nv">
                                    <input type="text" id="regresija-input" placeholder="Regresija:" readonly>
                                    <button class="btn btn-primary" id="btn-reg" (click)="primeniZaRegression()">Primeni</button> 
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- <div id="statistika" style="overflow-y: auto">
            <div id="statNaslov">Statisticki pokazatelji</div>
            <div [ngClass] = " ucitanCsv ? 'numcatVisible' : 'numcatHidden'" data-bs-toggle="collapse" data-bs-target="#numericke" aria-expanded="false" aria-controls="collapseExample"><div class="strelica">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg></div>Kolone sa numeričkim veličinama:</div>
            <div class="collapse show" id="numericke">
            <div *ngFor="let element of statistikaNum; index as i">
                <div id="imeKolone" data-bs-toggle="collapse" attr.data-bs-target="#collapseNum{{i}}" aria-expanded="false" aria-controls="collapseExample">{{element.key}}<div class="strelica"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg></div>
            </div>
                <div class="collapse" id="collapseNum{{i}}" *ngFor="let item of element.data | keyvalue">
                    <div class="uvuceno">
                        <div>
                            <div class="item">
                                {{item.key}}: &nbsp; {{item.value}}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            </div>
            <div [ngClass] = " ucitanCsv ? 'numcatVisible' : 'numcatHidden'" data-bs-toggle="collapse" data-bs-target="#kategorijske" aria-expanded="false" aria-controls="collapseExample"><div class="strelica">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg></div>Kolone sa kategorijskim veličinama:</div>
            <div class="collapse show" id="kategorijske">
            <div *ngFor="let element of statistikaCat; index as i">
                <div class="mt-2" id="imeKolone" data-bs-toggle="collapse" attr.data-bs-target="#collapseCat{{i}}" aria-expanded="false" aria-controls="collapseExample">{{element.key}}<div class="strelica"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg></div></div>
                <div class="collapse" id="collapseCat{{i}}" *ngFor="let item of element.data">
                    <div class="uvuceno">
                        <div class="item" *ngIf="item.imeKljucVC">
                            {{item.imeKljucVC}}: {{item.ValidCount}}
                        </div>
                        <div class="item" *ngIf="item.imeKljucNC">
                            {{item.imeKljucNC}}: {{item.NaCount}}
                        </div>
                        <div class="item" *ngIf="item.imeKljucUC">
                            {{item.imeKljucUC}}: {{item.UniqueCount}}
                        </div>
                        <div *ngIf="item.Frequencies">
                            <div *ngFor="let freq of item.Frequencies; index as i">
                                <div *ngIf="i==0">
                                    Most Common: &nbsp; <br> <div class="uvuceno">{{item.Frequencies[i][0]}}: &nbsp; {{item.Frequencies[i][1]}}</div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="item.imeKljucF">
                            {{item.imeKljucF}}:
                            <div class="uvucenoBezMB" *ngFor="let freq of item.Frequencies">
                                <div>{{freq[0]}}: &nbsp; {{freq[1]}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>  -->
    </div>
    
    <!-- <button id="restore-columns" (click)="izbrisiSelektovaneKolone()">Deselektuj kolone</button>
    <button id="selektovane-kolone" (click)="ispisiSelektovaneKolone()">Selektovane kolone</button>
    <button id="sve-kolone" (click)="selectAllColumns()">Selektuj sve kolone</button>
    <button id="restore-rows" (click)="izbrisiSelektovaneRedove()">Deselektuj redove</button>
    <button id="selektovani-redovi" (click)="getSelectedRows()">Selektovani redovi</button> 
    <button id="svi-redovi" (click)="selectAllRows()">Selektuj sve redove</button>
    <button id="clear-tracker" (click)="obrisiIstoriju()">Obrisi istoriju</button>
    <div id="tracker">
        <p *ngIf="this.track != undefined"> {{this.track}}</p>
    </div> -->


    <div class="row d-flex align-items-center justify-content-between p-1 pt-4" >
        <div class="col-md-9">
            <div class="okvir visinaVizuelizacije">
                <div class="naslov">Vizuelizacija podataka</div>
                <div id="grafik"  style="width: 70%; height: 95%; margin: auto;" *ngIf="scatterplotImage"><img [src]="scatterplotImage" class="img-fluid " alt="Responsive image"></div>
            </div>

        </div>

        <div class="col-md-3 ">
            <div class="okvir visinaVizuelizacije ">
                    <div class="naslov p-0 m-0">Nacin prikaza podataka</div>
                    <div id="header-help">
                        <div id="helper"> 
                            <span  class="hovertext" data-tooltip=" Dozvoljen broj i tip kolona:
                                * Scatterplot - maksimum 6 kolona bilo kog tipa
                                * Boxplot - samo 1 numericka ili 1 numericka i 1 kategoricka kolona
                                * Violinplot - samo 1 numericka ili 1 numericka i 1 kategoricka kolona
                                * Barplot - maksimum 2 kolone samo kategorickog tipa
                                * Histogram - maksimum 4 kolone bilo kog tipa
                                * Hexbin- maksimum 2 kolone bilo kog tipa
                                * Densityplot- maksimum 6 kolona bilo kog tipa">
                            &#63;
                            </span>
                        </div>
                </div>
                    <!-- scatterplot , boxplot, barplot, histogram, frequencyplot-->
                <div class="row p-2"> <div class="col-md-12 text-center"> <button (click)="promena($event)" (click)="ucitajGrafik($event)" id="scatterplot" type="button" class="btn btn-secondary dugmiciG" style=" border-radius: 10px; background-color: #6070a7; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);">Scatterplot</button> </div> </div>
                <div class="row p-2"> <div class="col-md-12 text-center"> <button (click)="promena($event)" (click)="ucitajGrafik($event)" id="boxplot" type="button" class="btn btn-secondary dugmiciG" style=" border-radius: 10px; background-color: #6070a7; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);">Boxplot</button> </div> </div>
                <div class="row p-2"> <div class="col-md-12 text-center"> <button (click)="promena($event)" (click)="ucitajGrafik($event)" id="violinplot" type="button" class="btn btn-secondary dugmiciG" style="border-radius: 10px; background-color: #6070a7; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);">Violinplot</button> </div> </div>
                <div class="row p-2"> <div class="col-md-12 text-center"> <button (click)="promena($event)" (click)="ucitajGrafik($event)" id="barplot" type="button" class="btn btn-secondary dugmiciG" style=" border-radius: 10px; background-color: #6070a7; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);">Barplot</button> </div> </div>
                <div class="row p-2"> <div class="col-md-12 text-center"> <button (click)="promena($event)" (click)="ucitajGrafik($event)" id="histogram" type="button" class="btn btn-secondary dugmiciG" style=" border-radius: 10px; background-color: #6070a7; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);">Histogram</button> </div> </div>
                <div class="row p-2"> <div class="col-md-12 text-center"> <button (click)="promena($event)" (click)="ucitajGrafik($event)" id="hexbin" type="button" class="btn btn-secondary dugmiciG" style=" border-radius: 10px; background-color: #6070a7; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);">Hexbin</button> </div> </div>
                <div class="row p-2"> <div class="col-md-12 text-center"> <button (click)="promena($event)" (click)="ucitajGrafik($event)" id="densityplot" type="button" class="btn btn-secondary dugmiciG" style=" border-radius: 10px; background-color: #6070a7; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);">Densityplot</button> </div> </div>
            </div>
        </div>
    </div>


  
  <!-- Modal -->
  <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #484864; color:#CED9FF;" >
        <div class="modal-header d-flex align-items-center justify-content-between">
          <button id="undoRedoDugmeIstorija" (click)="tryUndoAction()"><i class="fa fa-undo" style="font-size:14px;color:#CED9FF;"></i></button>  
          <button id="undoRedoDugmeIstorija" (click)="tryRedoAction()"><i class='fa fa-redo' style="font-size:14px;color:#CED9FF;"></i></button> 
          <button data-toggle="tooltip" title="Obrisi istoriju" id="kantica" style="margin-left: 12px;" (click)="obrisiIstoriju()"><i class="fas fa-trash" style="font-size:16px;color:#CED9FF;"></i></button>
          <h3 class="modal-title pt-2 mb-2 mt-0 m-5 p-5 pt-0 pb-0" id="exampleModalLabel">Istorija akcija</h3>
          <!-- <h4><button type="button" id="clear-tracker" (click)="obrisiIstoriju()">Obrisi istoriju</button></h4> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div *ngFor="let k of nizKomandi.slice().reverse(); let i = index" >
                <span id="vreme" data-toggle="tooltip" title="{{ nizKomandiTooltip[nizKomandiTooltip.length - i - 1] }}">{{k}}</span>
                <br>
                <br>
            </div>
        </div>
        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        -->
    </div>
  </div>
</div>

<!-- Modal Save As -->
<div  class="modal fade" id="ModalSaveAs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #ffffff; color:#111111;" >
        <div class="modal-header " style=" height:50px; background-color: #ddddf6; ">
          <h3 class="modal-title pt-3" id="exampleModalLabel">Sačuvaj trenutnu verziju skupa podataka</h3>
          <button #btnexit type="button" (click)="vratiTekstiNaziv()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body justify-content-center align-items-center">
            <div style="margin: auto; width: 80%;" class="pt-3">
                <h4>Unesite željeni naziv verzije:</h4>
                <input type="text" id="imeVerzije" [(ngModel)]="nazivSnapshot" >  <!--(change)="daLiPostoji()" -->
                <div id="nijeUnetoImeVerzije" style="color: rgb(255, 43, 75);  visibility: hidden;">*Niste uneli naziv verzije!</div>
            </div>
        </div>
    
        <div class="modal-footer d-flex" style="border: none;">
          <button type="button" (click)="vratiTekstiNaziv()" class="btn btn-secondary" data-bs-dismiss="modal">Otkaži</button>
          <button type="button" (click)="this.daLiPostoji()" style="background-color: #6d6fb1;" class="btn btn-secondary">Sačuvaj</button>
        </div>

    </div>
  </div>
</div>

<ng-template #contentmdl let-modal>
    <div class="modal-header" style="border: none; height: 80px;">
      <h3 class="modal-title" id="modal-basic-title">Verzija sa tim nazivom već postoji. Da li želite da je zamenite?</h3>
      <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
    </div>

    <div class="modal-body justify-content-center d-flex align-items-center ">
        <div class=" d-flex justify-content-between" style="width: 60%; margin: auto;">
            <button type="button" id="btn-otkazi"  class="btn btn-outline-dark" (click)="vratiTekst()" (click)="modal.close('Close click')">Otkaži</button>
            <button type="button" id="btn-zameni" class="btn btn-outline-dark" (click)="overrideSnapshot()" (click)="izadjiIzObaModala()" (click)="modal.close('Save click')" >Zameni</button>
        </div>
    </div>
  </ng-template>

  <ng-template #modalDeleteClose let-modal>
    <div class="modal-header" style="height:50px; background-color: #ddddf6;">
      <h3 class="modal-title pt-3" id="modal-basic-title">Delete</h3>
    </div>
    <div class="modal-body justify-content-center d-flex align-items-center ">
        <div id="textDeleteClose" class="pt-3">
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-modal-close" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

  <ng-template #modalDelete let-modal>
    <div class="modal-header" >
      <h3 class="modal-title" id="modal-basic-title">Delete</h3>
    </div>
    <div class="modal-body justify-content-center d-flex align-items-center ">
        <div id="textDelete">
           
        </div>
    </div>
    <div class="modal-footer  d-flex justify-content-between">
        <button type="button" id="btn-otkazi"  class="btn btn-outline-dark"  (click)="modal.close('Close click')">Close</button>
        <button type="button" id="btn-zameni" class="btn btn-outline-dark" (click)="brisanje()" (click)="modal.close('Save click')" >Delete</button>
    </div>
  </ng-template>

  <ng-template #modalNew let-modal>
    <div class="modal-header" style="height:50px; background-color: #ddddf6;" >
      <h3 class="modal-title pt-3" id="modal-basic-title">Create New Row</h3>
    </div>
    <div class="modal-body justify-content-center d-flex align-items-center">
        <div id="textNew" class="pt-2">
           <div class="d-flex justify-content-between" *ngFor="let header of dajHeadere()" style="margin-bottom: 10px;">
               <div style="margin-right: 12px;">{{header}}:</div> <input class="input-new-row" value="" id="row{{header}}">
            </div>
        </div>
    </div>
    <div class="modal-footer  d-flex justify-content-between">
        <button type="button" id="btn-otkazi-newrow"  class="btn btn-outline-dark"  (click)="modal.close('Close click')">Close</button>
        <button type="button" id="btn-kreirajnovired" class="btn btn-outline-dark" (click)="kreirajNoviRed()" (click)="modal.close('Save click')" >Create</button>
    </div>
  </ng-template>
  

    <simple-notifications></simple-notifications>
</div>
