<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E">
<div id="body1">


    <div id="header1">

        <input type="file" class="file-input" accept=".csv" (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload okvir2">

            <button mat-mini-fab color="primary" id="ucitaj1" class="upload-btn" (click)="fileUpload.click()">
                Učitaj podatke
            </button>
            <div id="okvir1">
            <span style="color:white; margin-left: 10px; text-align: center;">{{fileName || "Podaci nisu učitani."}} <span id="poruka" class="nonvisible-y" ><img src="assets/checkmarkyes.png"></span><span id="porukaGreske" class="nonvisible-n" ><img src="assets/markno.png"></span></span>
            </div>
        </div>


        <div id="brojRedovaTabelePoruka" style="color: white;">
            <div id="odabir-redova">Broj redova za prikaz:</div>
            <span>
                <select id="brojRedovaTabele" (change)="promeniBrojRedova(selectField.value);" #selectField>
                    <option value="5">5</option>
                    <option selected value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </span>
        </div>

        <div id="desnielement">
            <div id="naziveksperimenta">Naziv Eksperimenta</div>
            <button id="sacuvajizmene">Sačuvaj izmene</button> 
        </div>
        
    </div>


    <div id="box">
        <div id="testniskup" class="p1 placement">
            <div>Testni skup</div>

            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-design" id="dropdownBasic1" ngbDropdownToggle>Izaberi</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem id="ucitajTestniSkup" (click)="izborUnosa('Testni skup')">Učitaj testni skup</button>
                  <button ngbDropdownItem id="proizvoljanUnosVrednosti" (click)="izborUnosa('Proizvoljno')">Proizvoljan unos vrednosti</button>
                </div>
            </div>

            <div id="testniskup-comp">

                <div id="unos-fajla" class="visible-testniskup"> 
                    <form id="forma-test">
                        <div class="form-group">       
                            <label id="label-input" for="exampleFormControlFile1">
                                <img src="assets/uploadfile.png"> 
                                &nbsp; Ucitaj podatke</label>                 
                            <input type="file" class="form-control-file" accept=".csv" id="exampleFormControlFile1" (change)="onFileSelectedTest($event)">
                            <span style="color:white;  text-align: center; font-size: 14px;">{{fileNameTest || "Podaci nisu učitani."}} </span>
                        </div>
                      </form>
                </div>


                <div id="proizvoljan-unos" class="invisible-unos">
                    <div id="slider">
                        <div style="margin: auto; color: #c1cdff; position: relative; top: -25px;">Uneti vrednost iz intervala [0,1]</div>
                        <div id="current-value">0.5</div>
                        <br>
                        <br>
                        
                        <input type="range" min="0" max="1" step="0.0001" value="0.5" (change)="ispisRatio()" id="input-ratio">
                    </div>
                    <br><br><br>
                    <div id="div-ratio">
                        <input type="number" min="0" max="1" step="0.0001" id="vrednost-ratio" placeholder="0.5" (change)="upisRatio()">  
                        <button id="btn-ratio" (click)="setRatio()">Primeni</button>
                    </div>   
                </div>
            </div>
        </div>
        <div id="nedostajucevrednosti" class="placement">
            <div>Nedostajuće vrednosti</div>
            <div id="select-elements">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-design2" id="dropdownBasic2" ngbDropdownToggle>Zamena vrednosti</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                      <button ngbDropdownItem  (click)="fillWithMean()">Zameni sa mean u koloni</button>
                      <button ngbDropdownItem  (click)="fillWithMedian()">Zameni sa median u koloni</button>
                      <button ngbDropdownItem  (click)="fillWithMode()">Zameni sa mode u koloni</button>
                    </div>
                </div>
                
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-design2" id="dropdownBasic3" ngbDropdownToggle>Brisanje vrednosti</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                      <button ngbDropdownItem (click)="deleteRows()">Izbaci sve vrste</button>
                      <button ngbDropdownItem (click)="deleteColumns()">Izbaci sve kolone</button>
                      <button ngbDropdownItem (click)="izborUnosa('Proizvoljno')">Izbaci vrste za izabrane kolone</button>
                    </div>
                </div>

            </div>
           <div id="prazni-string">
                <div>Zamena praznih stringova sa NA za zeljene kolone:</div>
                <button id="b1" (click)="replaceEmptyWithNA()">Primeni</button> 
           </div>
            
           <div id="zamena-nula">
                <div>Zamena 0 sa NA za zeljene kolone:</div>
                <button id="b2" (click)="replaceZeroWithNA()">Primeni</button> 
           </div>

           <div id="nova-kategorija">
                <div>Dodaj novu kategoriju:</div>
                <button id="b3">Nova kategorija</button>  
           </div>
            
        </div>
        <div id="enkodiranje" class="p2 placement">
            <div>Enkodiranje</div>
            <button id="b4" (click)="labelEncoding()">LabelEncode</button> 
            <button id="b5" (click)="oneHotEncoding()">One-hotEncode</button> 
        </div>
    </div>

    <div id="tabela-statistika">
        <div page>
            <div id="table">
                <table>
                    <tr class="head-table">
                        <th *ngFor="let header of dajHeadere();  let j = index" class="tr-button" (click)="getData(j, header)" [class.selectedColHeader]="isSelectedNum(j)">
                            {{header}}
                        </th>
                    </tr>
                    <tr class="trbody" *ngFor="let red of json | paginate
                    : {
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems
                    };  index as i" (click)="getRow(i,this.page)">
                        <td *ngFor="let fieldValue of dajRed(i); let j = index" [class.selectedCol]="isSelectedNum(j)" [class.selectedRow]="isSelectedRow(i)">
                        {{fieldValue}}
                        </td>
                    </tr>
                </table>
            </div>

            <pagination-controls *ngIf="this.json != undefined"
            class="pagi"
            (pageChange)="gty(page = $event)"
            ngDefaultControl
            [(ngModel)]="this.page"
            ></pagination-controls>
        </div>

        <!--<div id="statistika" style="overflow-y: auto">
            <div id="statNaslov">Statisticki pokazatelji</div>
            <div *ngFor="let key of keys; index as i" >
                <div id="imeKolone">{{key}}</div>
                <div id="statistikaKolone" *ngFor="let item of values[i] | keyvalue;">
                    <ul id="ulStat">
                        <li>
                            <span>
                                {{item.key}}: &nbsp; {{item.value}}
                            </span>
                        </li>
                    </ul> 
                </div>
            </div>
        </div>-->
        <div id="statistika" style="overflow-y: auto">
            <div id="statNaslov">Statisticki pokazatelji</div>
            <div [ngClass] = " ucitanCsv ? 'numcatVisible' : 'numcatHidden'" data-bs-toggle="collapse" data-bs-target="#numericke" aria-expanded="false" aria-controls="collapseExample"><div class="strelica">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg></div>Kolone sa numeričkim veličinama:</div>
            <div class="collapse show" id="numericke">
            <div *ngFor="let element of statistikaNum; index as i">
                <div id="imeKolone" data-bs-toggle="collapse" attr.data-bs-target="#collapseNum{{i}}" aria-expanded="false" aria-controls="collapseExample">{{element.key}}<div class="strelica"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg></div>
            </div>
                <div class="collapse" id="collapseNum{{i}}" *ngFor="let item of element.data | keyvalue">
                    <div class="uvuceno">
                        <div>
                            <div class="item">
                                {{item.key}}: &nbsp; {{item.value}}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            </div>
            <div [ngClass] = " ucitanCsv ? 'numcatVisible' : 'numcatHidden'" data-bs-toggle="collapse" data-bs-target="#kategorijske" aria-expanded="false" aria-controls="collapseExample"><div class="strelica">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg></div>Kolone sa kategorijskim veličinama:</div>
            <div class="collapse show" id="kategorijske">
            <div *ngFor="let element of statistikaCat; index as i">
                <div class="mt-2" id="imeKolone" data-bs-toggle="collapse" attr.data-bs-target="#collapseCat{{i}}" aria-expanded="false" aria-controls="collapseExample">{{element.key}}<div class="strelica"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg></div></div>
                <div class="collapse" id="collapseCat{{i}}" *ngFor="let item of element.data">
                    <div class="uvuceno">
                        <div class="item" *ngIf="item.imeKljucVC">
                            {{item.imeKljucVC}}: {{item.ValidCount}}
                        </div>
                        <div class="item" *ngIf="item.imeKljucNC">
                            {{item.imeKljucNC}}: {{item.NaCount}}
                        </div>
                        <div class="item" *ngIf="item.imeKljucUC">
                            {{item.imeKljucUC}}: {{item.UniqueCount}}
                        </div>
                        <div *ngIf="item.Frequencies">
                            <div *ngFor="let freq of item.Frequencies; index as i">
                                <div *ngIf="i==0">
                                    Most Common: &nbsp; <br> <div class="uvuceno">{{item.Frequencies[i][0]}}: &nbsp; {{item.Frequencies[i][1]}}</div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="item.imeKljucF">
                            {{item.imeKljucF}}:
                            <div class="uvucenoBezMB" *ngFor="let freq of item.Frequencies">
                                <div>{{freq[0]}}: &nbsp; {{freq[1]}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <button id="restore-columns" (click)="izbrisiSelektovaneKolone()">Deselektuj kolone</button>
    <button id="clear-tracker" (click)="obrisiIstoriju()">Obrisi istoriju</button>
    <button id="selektovane-kolone" (click)="ispisiSelektovaneKolone()">Selektovane kolone</button>
    <button id="selektovani-redovi" (click)="getSelectedRows()">Selektovani redovi</button>
    <button id="restore-rows" (click)="izbrisiSelektovaneRedove()">Deselektuj redove</button>
    <div id="tracker">
        <p *ngIf="this.track != undefined"> {{this.track}}</p>
    </div>

</div>
