<div id="body1">
    <div id="outliers-box">
        <div ngbDropdown class="dropdown" class="zamena-select" style="width: 200px; float: left; margin-bottom: 20px;">
            <button ngbDropdownToggle class="btn btn-design2 dugme" type="button" id="dropdown" style=" width: 200px; color: whitesmoke; background-color: rgb(101, 72, 115);">
                Izaberi snapshot
            </button>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownLinReg">
                <li ngbDropdownItem> <a role="button" class="dropdown-item" id="snapid" (click)="selectSnapshot(0)" (click)="imeS('Default Podaci')">Default Podaci</a></li>  
                <div *ngFor="let s of snapshots">
                <li ngbDropdownItem> <a role="button" class="dropdown-item" id="snapid" (click)="selectSnapshot(s.id)" (click)="imeS(s.ime)">{{s.ime}}</a></li>   
                </div>                      
            </ul>
        </div>
    </div>
<div id="div1">
    <button id="sacuvaj" data-bs-toggle="modal" data-bs-target="#exampleModalCuvanje">Sacuvaj model</button>
    <!-- <button id="sacuvaj" data-bs-toggle="modal" data-bs-target="#exampleModal2">Sacuvaj model</button> -->
    <!-- <button (click)="colapseLoss()" (click)="colapseStatistics()" (click)="dajMetriku()">Metrika</button> -->
</div>
<div id="centrirano">
    <div id="div2">
        <div id="divUI">
            <p>Izbor kolona za ulaz</p>
            <div id="ulaziIzlaz">
                <!-- <label class="container" *ngFor="let e of kolone2">{{e}}
                    <input type="checkbox" name="ulz" (change)="funkcija()" value="{{e}}"> 
                    <span class="checkmark"></span>
                </label> -->
                <div class="form-check pb-3" *ngFor="let e of kolone2" style="color: #fff; font-size: 15px;">
                    <input style="width: 16px; height: 16px;"  class="form-check-input" type="checkbox" name="ulz"(change)="funkcija()" value="{{e}}" id="flexCheckDefault" id="{{e}}1">
                    <label class="form-check-label" style="padding-top: 0.1rem;" for="flexCheckDefault">
                      {{e}}
                    </label>
                </div>
            </div>
        </div>
        <div id="divUI">
            <p>Izbor kolona za izlaz</p>
            <div id="ulaziIzlaz2">
                <!-- <label class="container" *ngFor="let m of kolone">{{m}}
                    <input type="checkbox" name="izl"(change)="funkcija2()" value="{{m}}" >
                    <span class="checkmark"></span>
                </label>     -->
                <div class="form-check pb-3" *ngFor="let m of kolone" style="color: #fff;font-size: 15px;">
                    <input style="width: 16px; height: 16px;"  class="form-check-input" type="checkbox" name="izl"(change)="funkcija2()" value="{{m}}" id="flexCheckDefault" id="{{m}}">
                    <label class="form-check-label"  style="padding-top: 0.1rem;" for="flexCheckDefault">
                      {{m}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div id="div21">
        <div id="poruke">
            <div id="poruka1"></div>
            <div id="poruka2"></div>
        </div>
        <div id="box">
            <div id="podesavanja">
                
                <div id="grupa12">
                
                    <div id="grupaUI">
                        <div type="text" id="is" >
                            <img src="assets/input.png" alt="">
                            <h3 id="inout"> Input size: {{brojU}}</h3>
                        </div>
                    </div>
                    <div id="grupaUI">
                        <div type="text" id="is" >
                            <img src="assets/output.png" alt="">
                            <h3 id="inout1"> Output size: {{brojI}}</h3>
                        </div>
                    </div>

                </div>

                <div id="grupaP2">

                    <div id="grupaP">
                        <h4> Problem type </h4>
                        <select name="" id="dd3" (change)="selectPT($event)">
                            <option id="ddp" value="1">Classification</option>
                            <option id="ddp" value="0">Regression</option>
                        </select>
                    </div>
            
                    <div id="grupaP">
                        <h4> Loss function </h4>
                        <select name="" id="dd2" (change)="selectLF($event)">
                            <option id="ddp" value="0">L1 loss</option>
                            <option id="ddp" value="1">L2 loss</option>
                            <option id="ddp" value="2">Cross-entropy loss</option>
                        </select>
                    </div>
            
            
                    <div id="grupaP">
                        <h4> Optimizer </h4>
                        <select name="" id="dd3" (change)="selectO($event)">
                            <option id="ddp" value="0">SGD</option>
                            <option id="ddp" value="1">AdaGrad</option>
                            <option id="ddp" value="2">AdaDelta</option>
                            <option id="ddp" value="3">Adam</option>
                        </select>
                    </div>

                </div>

                <div id="grupa12">

                    <div id="grupaCV">
                        <h4 id="tekstCV">Cross<br> validation</h4>
                        <label class="switch">
                            <input type="checkbox" id="toggle" (click)="dugmeCV()">
                            <span class="slider round"></span>
                          </label>
                          <div *ngIf="flag; else onemoguceno">
                            <input type="number" id="crossV" min="2" max="20" [defaultValue]="crossV" (change)="promeniK()">
                        </div>
                        <ng-template #onemoguceno>
                            <input id="crossVd" disabled>
                        </ng-template>
                        <!--
                        <button id="bcv" (click)="dugmeCV()"> Cross validation </button>
                        <div *ngIf="!flag; else onemoguceno">
                            <input id="crossV" min="2" max="20" [defaultValue]="crossV">
                        </div>
                        <ng-template #onemoguceno>
                            <input id="crossVd" disabled>
                          </ng-template>
                        -->
                    </div>
    
                    
                </div>

                <div id="grupaP2">

                    <div id="grupaP">
                        <h4> Regularization</h4>
                        <select name="" id="dd1" (change)="selectRM($event)">
                            <option id="ddp" value="0">L1</option>
                            <option id="ddp" value="1">L2</option>
                        </select>
                    </div>
            
                    <div id="grupaP">
                        <h4> Regularization rate </h4>
                        <input type="number" id="rr" name="rr" value="0.01">
                    </div>
            
                    <div id="grupaP">
                        <h4> Batch size </h4>
                            <input type="number" id="bs" name="bs" value="64">
                    </div>

                </div>
                
            </div>
        </div>
        <div id="grupa1">

            <div id="podesavanja2">
                <div id="grupa">
                    <h4> Number of epochs </h4>
                    <input type="number" id="noe" name="noe" value="15">
                </div>
        
                <div id="grupa">
                    <h4> Learning rate </h4>
                    <input type="number" id="lr" name="lr" value="0.03">
                </div>
            </div>

            <div id="boxZT">
                <div *ngIf="!buttonDisable; else onesposobi">
                    <a class="play-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3"></a>
                </div>
                <ng-template #onesposobi>
                    <a class="play-btn-disable"></a>
                  </ng-template>
                
                <!--
                <button id="pokreniM" (click)="modalService.open('modal-1');">
                    <img id="playbutton" src="assets/play-button.png">
                </button>
                -->
                <h4 id="tekstZT">Započni treniranje</h4>
                <div class="modal fade mt-5" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content" style="background: rgba(36, 38, 74, 0.95);">
                        <div class="modal-header pt-4" style="border-bottom: none;">
                          <h5 class="modal-title" id="exampleModalLabel" style="font-size: large; color: #C4C4C4;">Da li zelite prvo da sacuvate izmene?</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer" style="border-top: none;">
                          <button type="button" (click)="colapseLoss()" class="btn btn-primary" (click)="treniraj(2)" data-bs-dismiss="modal" style="background: rgba(229, 229, 229, 0.25); border:none;" (click)="colapseStatistics()">Pokreni bez cuvanja</button>
                          <button type="button" (click)="colapseLoss()" class="btn btn-primary" (click)="treniraj(1)" data-bs-dismiss="modal" style="background:#F45E82; border: none;" (click)="colapseStatistics()">Sačuvaj izmene</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- <jw-modal id="modal-1">
                    <button id="popupDugme3" (click)="modalService.close('modal-1');">X</button>
                    <p>
                        <br>
                        <br>
                        Da li zelite prvo da sacuvate izmene?
                        <br>
                        <br>
                        <br>
                        <button id="popupDugme1" (click)="treniraj(1);" (click)="modalService.close('modal-1');">Sacuvaj izmene</button>
                        <button id="popupDugme2" (click)="treniraj(2);" (click)="modalService.close('modal-1');">Pokreni bez cuvanja</button>
                    </p>
                </jw-modal> -->
            </div>
            <!--
            <button id="pokreniM" (click)="treniraj()">
                <img id="playbutton" src="assets/play-button.png">
            </button>
            <h4 id="tekstZT">Započni treniranje</h4>
            -->
        </div>
    </div>
</div>

<div id="centrirano2">
    <div id="div3">
        <div id="lista">
            <div id="grupa2">
                <h3>Hidden layers</h3>
                <button id="plus1" (click)="promeni1(1)">+</button>
                <div type="text" id="hl" name="hl">{{hiddLay.length}}</div>
                <button id="minus1" (click)="promeni1(2)" >—</button>
            </div>
            <div id="grupa3">
                <h4 id="afn">Activation function &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Neurons</h4>
                
                <div *ngFor="let  in of hiddLay;let i = index">
                    <div id="grupaHL">
                        <select id="dd4" [selectedIndex]="aktFunk[i]" (change)="uzmiAK(i,$event)">
                            <option id="ddp" value="0">ReLU</option>
                            <option id="ddp" value="1">LeakyReLU</option>
                            <option id="ddp" value="2">Sigmoid</option>
                            <option id="ddp" value="3">Tahn</option>
                            <option id="ddp" value="4">Linear</option>
                        </select>
                       <input type="number" min="1"  max="14" [defaultValue]="hiddLay[i]" id="{{i}}" class="broj" (click)="brojCvorova(i)" (change)="brojCvorova(i)">        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div4">

        <div id="model">

    
            <div id="kolona">
                <div *ngFor="let brojac of counter1(brojU);let ind = index">
                        <div id="cvor"></div>
                </div>
            </div>
            <div id="kolona" *ngFor="let in of nizCvorova;let i = index">
                <div *ngFor="let br of counter1(nizCvorova[i]);let j = index">
                    <div id="cvor"></div>
                </div>
            </div>
            <div id="kolona">
                <div *ngFor="let brojac of counter1(brojI);let ind = index">
                    <div id="cvor"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="centrirano3">
    <div id="collapse1" style="min-height: 30px;">
    <h3 id="loss">Graficki prikaz loss funkcije</h3>
    <div id="div" *ngIf="prikazi==true">
        <div id="grafik">
            <div id="canvas">
                <canvas baseChart
                    [data]="signalR.lineChartData"
                    [options]="chartOptions"
                    [type]="'line'"
                >
            </canvas>
            </div>
        </div>
        <!-- <table *ngFor="let elem of signalR.data" style="color:white">
            <tr><td>{{elem}}</td></tr>
        </table> -->
    </div>
</div>
    <div>
        <div id="collapse" style="min-height: 30px;">
            <h3>Statistika testnog i trening skupa</h3>
            <div id="metrika" *ngIf="prikazi1==true">
                <div *ngIf="pomocna==true" id="statistikaR" style="color: white">
                    <h3 style="color:aliceblue">Regresija</h3>
                </div>
                <div *ngIf="pomocna==false" id="statistikaC" style="color: white">
                    <table id="stat" style="width:100%">
                        <tr>
                          <th>Parametri</th>
                          <th>Testni</th>
                          <th>Trening</th>
                        </tr>
                        <tr>
                          <td>Accuracy</td>
                          <td id="actest">{{atest}}</td>
                          <td id="actrain">{{atrain}}</td>
                        </tr>
                        <tr>
                          <td>Balanced Accuracy</td>
                          <td id="batest">{{btest}}</td>
                          <td id="batrain">{{btrain}}</td>
                        </tr>
                        <tr>
                            <td>CrossEntropyLoss</td>
                            <td id="celtest">{{ctest}}</td>
                            <td id="celtrain">{{ctrain}}</td>
                        </tr>
                        <tr>
                            <td>F1Score</td>
                            <td id="f1test">{{ftest}}</td>
                            <td id="f1train">{{ftrain}}</td>
                        </tr>
                        <tr>
                            <td>HammingLoss</td>
                            <td id="htest">{{htest}}</td>
                            <td id="htrain">{{htrain}}</td>
                        </tr>
                        <tr>
                            <td>Precision</td>
                            <td id="ptest">{{atest}}</td>
                            <td id="ptrain">{{atest}}</td>
                        </tr>
                        <tr>
                            <td>Recall</td>
                            <td id="rtest">{{rtest}}</td>
                            <td id="rtrain">{{rtrain}}</td>
                        </tr>
                      </table>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalM" style="margin-left: 95px;">
                        Pogledaj konfuzionu matricu testnog skupa
                      </button>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalM1" style="margin-left: 95px; margin-top: 10px; margin-bottom: 10px;">
                         Pogledaj konfuzionu matricu training skupa
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PREDIKCIJA -->
<div class="col-md-12 d-block justify-content-center align-items-center okvir" id="divPredikcija">
    <div id="predikcijaNaslov">Predikcija</div>
    <div class="col-md-12 d-inline-block justify-content-center align-items-center" id="ulazi">
        <div class="unosVrednosti" *ngFor="let naziv of ulazneKolone; index as i">
            <div class="nazivKolone">{{naziv}}</div>
            <input type="text" id="vrednostUlaza{{i}}" class="inputPolje">
            <div class="greska" id="greskaIspis{{i}}">*Unesite vrednost</div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <button id="dugmePredikcija" type="button" class="btn btn-outline-primary col-md-2" (click)="predikcija()">Predict</button>
    </div>
     <div class="col-md-12 d-inline-block justify-content-center align-items-center" id="izlazi">
        <div class="unosVrednosti" *ngFor="let naziv of izlazneKolone; index as i">
            <div class="nazivKolone" id="nazivIzlaza{{i}}">{{naziv}}</div>
            <input type="text" id="vrednostIzlaza{{i}}" class="inputPolje inputIzlaz">
        </div>
    </div>
</div>
    <!-- <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="background: rgba(36, 38, 74, 0.95);">
            <div class="modal-header" style="border-bottom: none; padding: 30px;">
              <h5 class="modal-title" id="exampleModalLabel" style="font-size: large; color: bisque; margin: 0px;">Čuvanje modela</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding-left: 50px; padding-right: 30px; padding-top: 20px; padding-right: 30px;">
             <div style="color: beige;">Ime modela</div> -->
            <!-- <div style="color: bisque;">Ime modela</div> 
            <input type="text" id="bs1" autocomplete="off" placeholder="Unesite naziv modela">
             <input autocomplete="off" type="text" id="imeM" placeholder="Ime modela" style="width: 200px; height: 30px; border: 1px solid beige; background-color: transparent; color: white; border-radius: 5px; padding: 15px;"> 
            <div id="greska" style="color: rgba(243, 48, 95, 0.85); height: 30px;"></div>
             <div style="color: bisque;">Opis modela</div> 
            <textarea rows="5" cols="50" id="opisM" placeholder="Unesite opis modela"></textarea>
            < <input type="text" id="opisM" style="width: 200px; border-radius: 10px; height: 40px;"> 
            </div>
            <div class="modal-footer" style="border-top: none; padding-right: 40px; padding-bottom: 28px;">
              <button type="button" id="dgm" class="btn btn-primary" (click)="kreirajModel()" data-bs-dismiss="modal">Sačuvaj</button>
            </div>
          </div>
        </div>
      </div> -->

      <div class="modal fade" id="exampleModalM" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="background: rgba(36, 38, 74, 0.95);">
            <div class="modal-header" style="border: none;">
              <h5 class="modal-title" id="exampleModalLabel" style="color: bisque; font-size: large">Konfuziona matrica testnog skupa</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style=" text-align: center;">
                <div *ngFor="let m of mtest; let ind = index" style="margin-left: 180px">
                    <div style="color: white;" id="conMat" *ngFor="let i of mtest[ind]">
                        <div style="width: 50px; height: 50px; float: left; border: 1px solid white; padding-top: 15px; text-align: center;">{{(i/maxNizaT).toFixed(3)}}</div>
                    </div>
                    <div style="width: 100px; height: 50px"></div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModalM1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="background: rgba(36, 38, 74, 0.95);">
            <div class="modal-header" style="border: none;">
              <h5 class="modal-title" id="exampleModalLabel" style="color: bisque; font-size: large">Konfuziona matrica trening skupa</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style=" text-align: center;">
                <div *ngFor="let m of mtrain; let ind = index" style="margin-left: 180px">
                    <div style="color: white;" id="conMat" *ngFor="let i of mtrain[ind]">
                        <div style="width: 50px; height: 50px; float: left; border: 1px solid white; padding-top: 15px; text-align: center;">{{(i/maxNizaTr).toFixed(3)}}</div>
                    </div>
                    <div style="width: 100px; height: 50px"></div>
                </div>
            </div>
            
          </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCuvanje" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="background: rgba(36, 38, 74, 0.95);">
            <div class="modal-header" style="border-bottom: none; padding: 30px;">
              <h5 class="modal-title" id="exampleModalLabel" style="font-size: large; color: bisque; margin: 0px;">Čuvanje modela</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding-left: 50px; padding-right: 30px; padding-top: 20px; padding-right: 30px;">
            <!-- <div style="color: beige;">Ime modela</div> -->
            <!-- <div style="color: bisque;">Ime modela</div> -->
            <input type="text" id="bs2" autocomplete="off" placeholder="Unesite naziv modela">
            <!-- <input autocomplete="off" type="text" id="imeM" placeholder="Ime modela" style="width: 200px; height: 30px; border: 1px solid beige; background-color: transparent; color: white; border-radius: 5px; padding: 15px;"> -->
            <div id="greska" style="color: rgba(243, 48, 95, 0.85); height: 30px;"></div>
            <!-- <div style="color: bisque;">Opis modela</div> -->
            <textarea rows="5" cols="50" id="opisModela" placeholder="Unesite opis modela"></textarea>
            <!-- <input type="text" id="opisM" style="width: 200px; border-radius: 10px; height: 40px;"> -->
            </div>
            <div class="modal-footer" style="border-top: none; padding-right: 40px; padding-bottom: 28px;">
              <button type="button" id="dgm" class="btn btn-primary" (click)="kreirajModelCuvanje()" data-bs-dismiss="modal">Sačuvaj</button>
            </div>
          </div>
        </div>
      </div>
    <simple-notifications></simple-notifications>
</div>

