<div id="body1">
<div id="div1">
    <button id="sacuvaj" (click)="submit()">Sacuvaj izmene</button>
    <input id="nazivE">
    <input id="nazivM">
</div>
<div id="centrirano">
    <div id="div2">
        <div id="divUI">
            <p>Izbor kolona za ulaz</p>
            <div id="ulaziIzlaz">
                <label class="container" *ngFor="let e of kolone2">{{e}}
                    <input type="checkbox" name="ulz" (change)="funkcija()" value="{{e}}"> 
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div id="divUI">
            <p>Izbor kolona za izlaz</p>
            <div id="ulaziIzlaz2">
                <label class="container" *ngFor="let m of kolone">{{m}}
                    <input type="checkbox" name="izl"(change)="funkcija2()" value="{{m}}" >
                    <span class="checkmark"></span>
                </label>    
            </div>
        </div>
    </div>
    <div id="div21">
        <div id="poruke">
            <div id="poruka1"></div>
            <div id="poruka2"></div>
        </div>
        <div id="box">
            <div id="podesavanja">
                
                <div id="grupa12">
                
                    <div id="grupaUI">
                        <div type="text" id="is" >
                            <img src="assets/input.png" alt="">
                            <h3 id="inout"> Input size: {{brojU}}</h3>
                        </div>
                    </div>
                    <div id="grupaUI">
                        <div type="text" id="is" >
                            <img src="assets/output.png" alt="">
                            <h3 id="inout"> Output size: {{brojI}}</h3>
                        </div>
                    </div>

                </div>

                <div id="grupaP2">

                    <div id="grupaP">
                        <h4> Problem type </h4>
                        <select name="" id="dd3" (change)="selectPT($event)">
                            <option id="ddp" value="1">Classification</option>
                            <option id="ddp" value="0">Regression</option>
                        </select>
                    </div>
            
                    <div id="grupaP">
                        <h4> Loss function </h4>
                        <select name="" id="dd2" (change)="selectLF($event)">
                            <option id="ddp" value="0">L1 loss</option>
                            <option id="ddp" value="1">MSELoss</option>
                            <option id="ddp" value="2">Cross-entropy loss</option>
                        </select>
                    </div>
            
            
                    <div id="grupaP">
                        <h4> Optimizer </h4>
                        <select name="" id="dd3" (change)="selectO($event)">
                            <option id="ddp" value="0">SGD</option>
                            <option id="ddp" value="1">AdaGrad</option>
                            <option id="ddp" value="2">AdaDelta</option>
                            <option id="ddp" value="3">Adam</option>
                        </select>
                    </div>

                </div>

                <div id="grupa12">

                    <div id="grupaCV">
                        <h4 id="tekstCV">Cross<br> validation</h4>
                        <label class="switch">
                            <input type="checkbox" id="toggle" (click)="dugmeCV()">
                            <span class="slider round"></span>
                          </label>
                          <div *ngIf="flag; else onemoguceno">
                            <input id="crossV" min="2" max="20" [defaultValue]="crossV">
                        </div>
                        <ng-template #onemoguceno>
                            <input id="crossVd" disabled>
                          </ng-template>
                        <!--
                        <button id="bcv" (click)="dugmeCV()"> Cross validation </button>
                        <div *ngIf="!flag; else onemoguceno">
                            <input id="crossV" min="2" max="20" [defaultValue]="crossV">
                        </div>
                        <ng-template #onemoguceno>
                            <input id="crossVd" disabled>
                          </ng-template>
                        -->
                    </div>
    
                    
                </div>

                <div id="grupaP2">

                    <div id="grupaP">
                        <h4> Regularization</h4>
                        <select name="" id="dd1" (change)="selectRM($event)">
                            <option id="ddp" value="0">L1</option>
                            <option id="ddp" value="1">L2</option>
                        </select>
                    </div>
            
                    <div id="grupaP">
                        <h4> Regularization rate </h4>
                        <input type="text" id="rr" name="rr">
                    </div>
            
                    <div id="grupaP">
                        <h4> Batch size </h4>
                            <input type="text" id="bs" name="bs">
                    </div>

                </div>
                
            </div>
        </div>
        <div id="grupa1">

            <div id="podesavanja2">
                <div id="grupa">
                    <h4> Number of epochs </h4>
                    <input type="text" id="noe" name="noe">
                </div>
        
                <div id="grupa">
                    <h4> Learning rate </h4>
                    <input type="text" id="lr" name="lr">
                </div>
            </div>

            <div id="boxZT">
                <button id="pokreniM" (click)="modalService.open('modal-1');">
                    <img id="playbutton" src="assets/play-button.png">
                </button>
                <h4 id="tekstZT">Započni treniranje</h4>
                <jw-modal id="modal-1">
                    <button id="popupDugme3" (click)="modalService.close('modal-1');">X</button>
                    <p>
                        <br>
                        <br>
                        Da li zelite prvo da sacuvate izmene?
                        <br>
                        <br>
                        <br>
                        <button id="popupDugme1" (click)="treniraj(1);" (click)="modalService.close('modal-1');">Sacuvaj izmene</button>
                        <button id="popupDugme2" (click)="treniraj(2);" (click)="modalService.close('modal-1');">Pokreni bez cuvanja</button>
                    </p>
                </jw-modal>
            </div>
            <!--
            <button id="pokreniM" (click)="treniraj()">
                <img id="playbutton" src="assets/play-button.png">
            </button>
            <h4 id="tekstZT">Započni treniranje</h4>
            -->
        </div>
    </div>
</div>

<div id="centrirano2">
    <div id="div3">
        <div id="lista">
            <div id="grupa2">
                <h3>Hidden layers</h3>
                <button id="plus1" (click)="promeni1(1)">+</button>
                <div type="text" id="hl" name="hl">{{hiddLay.length}}</div>
                <button id="minus1" (click)="promeni1(2)" >—</button>
            </div>
            <div id="grupa3">
                <h4 id="afn">Activation function &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Neurons</h4>
                
                <div *ngFor="let  in of hiddLay;let i = index">
                    <div id="grupaHL">
                        <select id="dd4" [selectedIndex]="aktFunk[i]" (change)="uzmiAK(i,$event)">
                            <option id="ddp" value="0">ReLU</option>
                            <option id="ddp" value="1">LeakyReLU</option>
                            <option id="ddp" value="2">Sigmoid</option>
                            <option id="ddp" value="3">Tahn</option>
                            <option id="ddp" value="4">Linear</option>
                        </select>
                       <input type="number" min="1"  max="14" [defaultValue]="hiddLay[i]" id="{{i}}" class="broj" (click)="brojCvorova(i)" (change)="brojCvorova(i)">        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div4">

        <div id="model">

    
            <div id="kolona">
                <div *ngFor="let brojac of counter1(brojU);let ind = index">
                        <div id="cvor"></div>
                </div>
            </div>
            <div id="kolona" *ngFor="let in of nizCvorova;let i = index">
                <div *ngFor="let br of counter1(nizCvorova[i]);let j = index">
                    <div id="cvor"></div>
                </div>
            </div>
            <div id="kolona">
                <div *ngFor="let brojac of counter1(brojI);let ind = index">
                    <div id="cvor"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="centrirano3">
    <div id="div">
        <div id="grafik">
            <div id="canvas">
                <canvas baseChart
                    [data]="signalR.lineChartData"
                    [options]="chartOptions"
                    [type]="'line'"
                >
            </canvas>
            </div>
        </div>
        <!-- <table *ngFor="let elem of signalR.data" style="color:white">
            <tr><td>{{elem}}</td></tr>
        </table> -->
    </div>
    </div>
</div>

