<div id="body">
    <div id="divDugmePocetna">
        <button onclick="history.back()" id="dugmePocetna" >Nazad</button>
    </div>>
    <div class="box">
        <div id="divbox">
            <div id="divdugmad">
              <button id="dugmepr">Prijava</button> 
              <button id="dugmerg" routerLink="/registracija">Registracija</button> 
              <hr id="l1"><hr id="l2">
            </div>
            <div id="koriloz">Korisnicko ime:</div>
            <input type="text" name="">
            <div id="koriloz">Lozinka:</div>
            <input type="password" name="">
            <div id="divdugme">
                <button id="dgm" type="submit">Prijavi se</button>
            </div>
            <p>Nemate nalog?<a routerLink="/registracija">Registrujte se</a> sada.</p>
        </div>
    </div>
</div>
