#centrirano
{
    display: flex;
    justify-content: center;
    clear: both;
}

.box{
    width: 380px;
    height: 500px;
    background: rgba(32, 35, 66, 0.79);
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin-top: -1%;
}

#divbox{
    width: 360px;
    height: 440px;
    padding-bottom: 55px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    margin: auto;

}

#podaci1, #podaci2
{
    height: 30px;
    color: rgba(243, 48, 95, 0.85);
}

p{
    color: white;
    opacity: 0.5;
    height: 30px;
    float: left;
    margin-top: 65px;
    margin-bottom: 10px;
    margin-left: 17px;
}

a{
    color: white;
    opacity: 0.5;
}

input[type=text],input[type=password]{
    width: 250px;
    height: 45px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color:white;
}

input:focus,textarea:focus,select:focus{
    outline: none;
}

#dgm{
    width: 250px;
    height: 35px;
    background: #D74971;
    border-radius: 3px;
    box-shadow: 4px 6px 7px 2px rgba(0, 0, 0, 0.25);
    color: #fff;
}


#dugmepr{
    float: left;
    color: #fff;
    background: none;
    border: none;
    padding-left: 38px;
    padding-right: 42px;
}

#dugmerg{
    float: left;
    color: #fff;
    background: none;
    border: none;
    padding-left: 18px;
    padding-right: 22px;
    opacity: 0.8;
}

#divdugme{
    float: left;
    padding-top: 75px;
    opacity: 1;
    overflow: hidden;
}

#divdugmad{
    height: 50px;
    padding-bottom: 100px;
}

#l2{
    width: 125px;
    height: 1.5px;
    opacity: 1;
    color: #D74971;
    margin: auto;
    float: left;
}

#l1{
    width: 125px;
    height: 4px;
    opacity: 1;
    color: #D74971;
    margin: auto;
    border-radius: 1px;
    float: left;
}


#dugmePocetna{

    float: right;
    margin-right: 50px;
    margin-top: 45px;

    width: 110px;
    height: 40px;

    background: rgba(243, 48, 95, 0.46);
    border: 3px solid rgba(243, 48, 95, 0.85);
    box-sizing: border-box;
    border-radius: 15px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 33px;
    color: #FFFFFF;
}

#footer
{
    width: 100%;
    position: fixed;
    bottom: 0;
}