#container
{
    position: relative;
    display: flex;
    justify-content: center;
    height: 600px;
    margin-top: 60px;
    margin-bottom: -20px;
}

#oblast1
{
    position: relative;
    width: 554px;
    height: 346px;

    background: rgba(77, 81, 143, 0.9);
    box-shadow: 13px 20px 29px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    left: 70px;
}

#oblast2
{
    position: relative;
    width: 554px;
    height: 346px;

    background: rgba(227, 64, 103, 0.5);
    box-shadow: 14px 20px 19px rgba(0, 0, 0, 0.25);
    border-radius: 14px;

    right: 70px;
    bottom: -170px;
    z-index: -1;
}