#particles-js
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('/assets/wallpaper.jpg');
    /* margin-right: 0!important;
    margin-left: 0!important;
    margin-bottom: 0!important; */
    position: absolute;
    top: 0px;
    left: 0px;
    /* z-index: -2; */
    /* background: linear-gradient(#03001b,#1e012c); */
}

.particles-js-canvas-el {
    position: fixed;
    top: 0;
    z-index: -1;
      /* color: #1e042b;   */
    /* color: 150226;  trenutna  */
}


#container
{
    position: relative;
    display: flex;
    justify-content: center;
    height: 600px;
    margin-top: 20px;
}

#oblast1
{
    position: relative;
    width: 554px;
    height: 346px;

    background: rgba(77, 81, 143, 0.9);
    box-shadow: 13px 20px 29px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    left: 70px;
}

#oblast2
{
    position: relative;
    width: 554px;
    height: 346px;

    background: rgba(227, 64, 103, 0.5);
    box-shadow: 14px 20px 19px rgba(0, 0, 0, 0.25);
    border-radius: 14px;

    right: 70px;
    bottom: -170px;
    z-index: -1;
}