<div id="header">
  <div id="content">
  <div id="pomoc">
      <button id="pomocDugme1">Prijavi se</button>
      <button id="pomocDugme2">Registruj se</button>
    </div>
    <div id="naslov">
      <img src="assets/aplikacijalogo.png" alt="">
    </div>
    <div id="prijava_i_registracija">
      <button routerLink="/prijava" id="prijava" (click)="proba()">Prijavi se</button>
      <button routerLink="/registracija" id="registracija" (click)="proba()">Registruj se</button>
    </div>
  </div>
  <div id="meni">
    <ul>
      <li><a href="#">Početna strana</a></li>
      <li><a href="#">Novi eksperiment</a></li>
      <li><a href="#">Kontakt</a></li>
      <li><a href="#" id="poslednjiElement">O nama</a></li>
    </ul>
  </div>
</div>