#footer
{
    width: 100%;
    position: fixed;
    bottom: 0;
}

#centrirano
{
    margin-top: 40px;
    position: relative;
    display: flex;
    
    justify-content: center;
    clear: both;
    
}

.box{
    position: relative;
    width: 400px;
    height: 200px;
    background: rgba(32, 35, 66, 0.79);
    float: left;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin-top: -30px;
    justify-content: center;
}

#podaci{

    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    margin-left: 75px;
}

input[type=text]{
    width: 250px;
    height: 45px;
    background: #7584AE;
    border: 3px #A2AFD2;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    padding-left: 5px;
    margin-left: 75px;

}
input[type=text]:focus{
    outline: none;
}

#dodaj
{
  margin-top: 15px;
  background: rgb(241, 71, 125);
  height: 40px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  color: whitesmoke;
  display: block;
  width: 160px;
  border: none;
  box-shadow: 5px 10px 20px rgba(34, 28, 34, 0.25);
  margin: auto;
  margin-top: 10px;
}
#dodaj:focus
{
  /* box-shadow: 0 0 0 0.2rem rgb(255, 130, 159); */
  box-shadow: none;
}

#dodaj:hover
{
  box-shadow: 0px 0px 20px 0.5px rgba(255, 155, 197, 0.5);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #7584AE inset !important;
    -webkit-text-fill-color: white;
}