.file-input {
    display: none;
}

#footer
{
    width: 100%;
    position: fixed;
    bottom: 0;
}

#table
{
    margin-top: 20px;
    background-color: white;
}

#porukaGreske
{
    color: #D74971;
}

#brojRedovaTabele, #brojRedovaTabelePoruka
{
    visibility: hidden;
}