<div id="body">
    <div id="centrirano">
        <div class="box">
            <div class="divbox1">
                <div class="slika">
                    <img class="profilnaSlika" [src]="url">
                    <button class="hide" (click)="fileInput.click()">Dodaj sliku</button>
                    <input 
                        style="display: none"
                        type="file"
                        (change)="onselectFile($event)"
                        #fileInput
                    >
                </div>
                <div id="dugmici">
                    <button id="sacuvaj" routerLink="/profilna-strana">Sacuvaj izmene</button> 
                    <button id="odbaci" routerLink="/profilna-strana">Odbaci izmene</button> 
                </div>
            </div>
            <div class="divbox2">
                <div id="podaci">Ime i prezime:</div>
                <input id="ime" type="text" name="ime">

                <div id="podaci">Korisnicko ime:</div>
                <input id="korisnickoIme" type="text" name="korisnickoIme">

                <div id="podaci">Email:</div>
                <input id="email" type="text" name="email">

            </div>
            <div class="divbox2">
                <div id="podaci">Stara lozinka:</div>
                <input id="ime" type="text" name="ime">

                <div id="podaci">Nova lozinka:</div>
                <input id="korisnickoIme" type="text" name="korisnickoIme">

                <div id="podaci">Ponovite lozinku:</div>
                <input id="email" type="text" name="email">
            </div>  
        </div>     
    </div>
</div>
<app-footer id="footer"></app-footer>