<div id="gornji">
    <input id="imeM" placeholder="Unesite naziv modela">
    <button id="dodaj" (click)="napraviModel()" (click)="ocisti()">Dodaj model</button>
    <div id="imeE">Naziv eksperimenta</div>
</div>
<div id="divModeli">
    <div id="skrol">
       <div type="button" id="m" *ngFor="let m of modeli"> 
           <p (click)="send(m.id)">  {{ m.name }}  </p><div id="divB">
           <button (click)="obrisiModel(m.id)" id="delete">
            <div class="icon-trash" style="float: left;">
                <div class="trash-lid" style="background-color: #E5E9EA"></div>
                <div class="trash-container" style="background-color: #E5E9EA"></div>
                <div class="trash-line-1"></div>
                <div class="trash-line-2"></div>
                <div class="trash-line-3"></div>
              </div>
           </button></div>
       </div>
   </div>
</div>
