<div id="body1">
    <!-- <div id="gornji">
         <input id="imeM" placeholder="Unesite naziv modela" (keyup)="handleKeyUp($event)">
        <button id="dodaj" (click)="napraviModel()" (click)="ocisti()">Dodaj model</button> 
        <div id="greska"></div>
    </div> -->

    <div id="divModeli">
        <div id="skrol">
        <div id=naslov>Lista istreniranih modela</div>
        <div id="sk">
            <div type="button" id="m" *ngFor="let m of modeli; let i=index"> 
                <div class="p" id="p{{i}}" (click)="promeni($event)" (click)="modelDetaljnije(m.id)" (click)="uzmiId(m.id)"><div class="name" id="p{{i}}">{{ m.name }}</div><div class="date" id="p{{i}}">{{m.createdDate}}</div><div class="o" id="p{{i}}">{{m.opis}}</div></div>
            </div>
        </div>
        </div>
    </div>
    <div id="info">
        <div id="naslov1"><div style="width: 400px; float: left; margin-left: 280px;">Informacije i podesavanja o izabranom modelu</div><i data-bs-toggle="modal" data-bs-target="#exampleModal3" class='fa fa-trash-alt' style='font-size:20px;cursor: pointer; color: #CED9FF; float: right; margin-right: 8px;'></i></div>
        <div id="osnovneI">
            <div id="nm">Naziv modela</div>
            <div id="n"></div>
            <div id="nm">Datum kreiranja modela</div>
            <div id="d"></div>
            <div id="nmo">Opis modela</div><i (click)="Izmeni()" data-bs-toggle="modal" data-bs-target="#exampleModal1" class='fas fa-pencil-alt' style='font-size:15px;cursor: pointer;'></i>
            <div id="opis"></div>
        </div>
        <div id="pod">
            <div id="nm">Tip problema</div>
            <div id="ann"></div>
            <div id="nm">Verzija snapshot-a</div>
            <div id="snap"></div>
            <div id="nm">Metoda optimizacija</div>
            <div id="opt"></div>
            <div id="nm">Epoha</div>
            <div id="eph"></div>
            <!-- <button id="dugme" data-bs-toggle="modal" data-bs-target="#exampleModal3">Izbriši model</button> -->
            <button id="dugme" data-bs-toggle="modal" data-bs-target="#exampleModal4">Nastavi treniranje</button>
        </div>
        <div id="matrica">

        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="background: rgba(36, 38, 74, 0.95);">
            <div class="modal-header" style="border: none;">
              <h5 class="modal-title" id="exampleModalLabel" style="color: bisque; font-size: x-large;">Opis modela</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div placeholder="" contenteditable="true" id="bodyc" class="modal-body" style="color: beige; border: none;">
              
            </div>
            <div class="modal-footer" style="border: none;">
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
              <button type="button" id="edit" (click)="izmeniOpis()" data-bs-dismiss="modal">Sačuvaj izmene</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style= "background: rgba(36, 38, 74, 0.95);">
              <div class="modal-header" style="border: none;">
                <h5 class="modal-title" id="exampleModalLabel" style="color: bisque; font-size: x-large;">Brisanje modela</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div contenteditable="true" id="bodyc" class="modal-body" style="color: beige; border: none;">
                Da li ste sigurni da želite da izbrišete ovaj model?
              </div>
              <div class="modal-footer" style="border: none;">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                <button type="button" id="edit" data-bs-dismiss="modal" (click)="obrisiModel()">Izbriši</button>
              </div>
            </div>
          </div>
      </div>
    <simple-notifications></simple-notifications>
</div>
<!--<button (click)="obrisiModel(m.id)" class="noselect"><span class='text'><i style="font-size:24px" class="fa">&#xf014;</i></span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg></span>
                       
</button>-->
<!--"send(m.id)" prelazak na tab za treniranje--> 