#body1{
  min-height: 650px;
}

#naslov,#naslov1{
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  height: 40px;
  padding-top: 10px;
  font-size: large;
  color: #CED9FF;
}

.p
{
    color:white;
    font-size: large;
    padding-top: 15px;
    padding-left: 10px;
    text-align: center;
    float: left;
    width: 295px;
    height: 70px;
    background-color: #c4c4c4;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.p:hover{
  background:linear-gradient(162.06deg,#fa7795 -16.65%,#f0859e 97.46%);
  color: #C4C4C4;
  transform: scale(1.04);
 }
 
.name{
  float: left;
  font-weight: bolder;
  width: 170px;
  text-align: left;
  color:#d94f6f ;
  font-size: 19px;
}

.date{
  float: left;
  width: 100px;
  font-size: 17px;
}

.o{
  font-size: smaller;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  max-width: 280px;
  height: 20px;
  text-align: left;
  margin-top: 5px;
  color: #696868;
}

#greska{
  min-width: 230px;
  margin-left: 35px;
}

#divModeli{
    position: relative;
    width: 400px;
    height: 540px;
    float: left;
}

#info{
  float: left;
  border: 3px solid rgba(89, 119, 223, 1);
  width: 950px;
  height: 500px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #272741;
}

#n,#d,#opis,#snap,#ann,#opt,#eph{
  color: #eee;
  height: 50px;
  width: 500px;
}

#skrol{
    width: 340px;
    height: 500px;
    border: 3px solid rgba(89, 119, 223, 1);
    margin-left: 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
    background-color: #272741;
    margin-top: 20px;
}

#sk{
  overflow: auto;
  width: 330px;
  height: 450px;
}

#m{
  width: 290px;
   height: 70px;
   float:left;
   margin-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(196, 196, 196, 0.52); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #C4C4C4; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, #F45E82 0%, #f5aabb 99%);
  }

  #divB{
      width: 50px;
      float: left;
      margin-left: 10px;
  }

  i{
    width: 50px;
    height: 50px;
  }

  a {
    position: absolute;
    bottom: 12px;
    right: 20px;
  }
  myModal.in{
    z-index: 999999;
}

.close{
  border: none;
  background-color: white;
}

#imeM{
  min-width: 230px;
  height: 40px;
  border: 3px solid rgb(37, 164, 214) ;
  border-radius: 10px;
  background: none;
  color: white;
  float: left;
  margin-left: 45px;
  margin-right: 10px;
}

#greska{
  width: 200px;
  height: 20px;
  color: rgba(243, 48, 95, 0.85);
}

#imeE
{
    min-width: 200px;
    border: 3px solid rgb(37, 164, 214) ;
    color: #CED9FF;
    background-color: #272741;
    padding: 5px;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 45px;
    float: right;
}


#gornji{
  margin-top: 10px;
  height: 80px;
}

#dodaj{

  width: 200px;
  margin-right: 15px;
  margin-top: 0px;
  border-radius: 10px;
  border: 3px solid rgb(37, 164, 214) ;
  background: rgb(33, 79, 138);
  padding: 5px;
  align-items: center;
  height: 40px;
  text-align: center;
  box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
  float: left;
  padding-left: 60px;
  color: #CED9FF;
}

#dodaj:hover{
  color: #CED9FF;
  background-color: rgb(37, 164, 214);
  border: 3px solid rgb(40, 100, 179);
}

i.fa{
  width: 25px;
  height: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button {
	width: 70px;
	height: 70px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: #f43273;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #fb4588;
  transition: 200ms;
  margin-top: 10px;
}

button span {
	transition: 200ms;
}


button .text {
	transform: translateX(12px);
	color: white;
	font-weight: bold;
}

button .icon {
	position: relative;
	border-left: 1px solid #f3a5c1;
	transform: translateX(11px);
	height: 27px;
	width: 20px;
	align-items: center;
	justify-content: center;
}

button svg {
	width: 10px;
  margin-top: 2px;
	fill: #eee;
}

button:hover {
	background: #f0286b;
}

button:hover .text {
	color: transparent;
}

button:hover .icon {
	border-left: none;
	transform: translateX(0);
}

button:focus {
	outline: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #F45E82 0%, #f5aabb 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}