p
{
    color:white;
    font-size: large;
    padding-top: 23px;
    text-align: center;
    float: left;
    width: 300px;
    height: 70px;
    margin-top: 10px;
    margin-left: 20px;
    border: 3px solid rgb(37, 164, 214) ;
    background-color: #272741;
    border-radius: 10px;
    border-radius: 10px;
}

  p:hover{

  background:linear-gradient(162.06deg, #12a8dfc6 -16.65%, #52c4eeeb 97.46%);
  border: 3px solid #272741;
  color: #272741;
 }
 

#greska{
  min-width: 230px;
  margin-left: 35px;
}

#divModeli{

    position: relative;
    width: 1290px;
    height: 400px;
    margin: auto;
}

#skrol{

    width: 1290px;
    height: 400px;
    overflow: auto;
    border: 4px solid rgba(89, 119, 223, 1);
    margin: auto;
    border-radius: 10px;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
    background-color: #272741;
}

#m{
  width: 410px;
   height: 80px;
   float:left;
   margin-top: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    margin-right: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(196, 196, 196, 0.52); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #C4C4C4; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, #eb275e 0%, #708AD4 99%);
  }

  #divB{
      width: 50px;
      float: left;
      margin-left: 10px;
  }

  i{
    width: 50px;
    height: 50px;
  }

  a {
    position: absolute;
    bottom: 12px;
    right: 20px;
  }
  myModal.in{
    z-index: 999999;
}

.close{
  border: none;
  background-color: white;
}

#imeM{
  min-width: 230px;
  height: 40px;
  border: 3px solid rgb(37, 164, 214) ;
  border-radius: 10px;
  background: none;
  color: white;
  float: left;
  margin-left: 45px;
  margin-right: 10px;
}

#greska{
  width: 200px;
  height: 20px;
  color: rgba(243, 48, 95, 0.85);
}

#imeE
{
    min-width: 200px;
    border: 3px solid rgb(37, 164, 214) ;
    color: #CED9FF;
    background-color: #272741;
    padding: 5px;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 45px;
    float: right;
}


#gornji{
  margin-top: 10px;
  height: 80px;
}

#dodaj{

  width: 200px;
  margin-right: 15px;
  margin-top: 0px;
  border-radius: 10px;
  border: 3px solid rgb(37, 164, 214) ;
  background: rgb(33, 79, 138);
  padding: 5px;
  align-items: center;
  height: 40px;
  text-align: center;
  box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
  float: left;
  padding-left: 60px;
  color: #CED9FF;
}

#dodaj:hover{
  color: #CED9FF;
  background-color: rgb(37, 164, 214);
  border: 3px solid rgb(40, 100, 179);
}

i.fa{
  width: 25px;
  height: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button {
	width: 70px;
	height: 70px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: #f43273;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #fb4588;
  transition: 200ms;
  margin-top: 10px;
}

button span {
	transition: 200ms;
}


button .text {
	transform: translateX(12px);
	color: white;
	font-weight: bold;
}

button .icon {
	position: relative;
	border-left: 1px solid #f3a5c1;
	transform: translateX(11px);
	height: 27px;
	width: 20px;
	align-items: center;
	justify-content: center;
}

button svg {
	width: 10px;
  margin-top: 2px;
	fill: #eee;
}

button:hover {
	background: #f0286b;
}

button:hover .text {
	color: transparent;
}

button:hover .icon {
	border-left: none;
	transform: translateX(0);
}

button:focus {
	outline: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #eb275e 0%, #708AD4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}